.App {
  min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.search-result-bubble:hover {
  background-color: #ededed;
  cursor: pointer;
}

.light-grey-hover:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
